.logo{
  height: 10vh;
  object-fit: contain;
}
.navbar{
  background-color: rgb(187, 220, 252);
}

#page{
  min-height: 92vh;
  background-color: rgb(229, 240, 250);
}
.footer{
  background-color: rgb(187, 220, 252);
  width: 100vw;
  position: relative;
  bottom: 0;
}
.list{
  width: 55vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px black;
  border-radius: 15px;
  background-color: white;
  padding: 0
}

.listItem{
  display: flex;
  flex-direction: row;
  justify-content: start;
 
  align-items: center;
  margin:  3px;
}
hr{
  margin: 3px;
}
.modal-dialog{
  width: 78vw;
}
.gap{
  height: 14px;
  background: rgb(229, 240, 250);
}